beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
cloudscraper==1.2.58
Flask==2.0.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysqlclient==2.0.3
Pillow==8.3.1
pyparsing==2.4.7
#pytesseract==0.3.8
requests==2.26.0
requests-toolbelt==0.9.1
selenium==3.141.0
soupsieve==2.2.1
urllib3==1.26.6
Werkzeug==2.0.1
